.navbar{
    margin-top: 15px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .search-area{
        display: flex;
        margin-bottom: 10px;
    }
}