@media screen and (max-width: 600px){
    .first-section{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }
    #no2{
        margin-top: 100px;
        margin-bottom: 50px;
    }
    #health{
        width: 250px;
        height: 190px;
        margin-bottom: 100px;
        p{
            font-size: 14px;
        }
    }
    .footer{
        margin-top: 100px;
    }
}
@media screen and (max-width: 800px){
    .infos{
        height: 900px;
    }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
    .infos{
        height: 1200px;
    }
}

