.infos{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        #map{
            background-color: white;
            position: absolute;
            border: 1px solid black;
            border-radius: 5px;
            top: 220px;
            height: 50%;
            width: 50%;
        }
    .first-section, .second-section{
        margin-top: 500px;
        display: flex;
        .element{
            background-color: white;
            text-align: center;
            width: 250px;
            height: 120px;
            border: 1px solid black;
            border-radius: 8px;
            margin: 0px 25px;
            padding: 20px;
            .value{
                text-align: center;
                font-size: 17px;
            }
            #air{
                background-color: rgb(214, 214, 41);
            }
        }
    }
    .second-section{
        margin-top: 20px;
        .element{
            width: 550px;
            height: 150px;
        }
    }
}